body {
  margin: 0;
  font-family: sans-serif;
  background-color: #e6e6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://avatars.mds.yandex.net/i?id=d7b0cfe1f19201268b631e09d5b33f54d5686e0c-8977890-images-thumbs&n=13");
  background-repeat: repeat;
  background-size: 10%;
}
header {
  width: 100%; 
  background-color: #c6c9f0;
  margin-bottom: 40px;
  margin-top: 10px;
  padding: 10px;
}
.logo {
    width: 140px;
    height: auto;
    background-color: transparent;
}
.container {
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
  width: 100%;
} 
.container a {
  text-decoration: none;
  color: black;
}
.namehead {
  align-self: center;
}
.navigator {
  height: 0px;
}

#main {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 100px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hlist, #htable, #hform {
  border: 3px solid slateblue;
  border-radius: 1%;
  padding: 6%;
  background-color: #ae89d3;
  margin-bottom: 40px;
}
#htable {
  margin-top: 70px;
}
#htable, #hform {
  text-align: center;
}
#table {
  width: 100%;
  border: solid black;
}
#tr1 {
  background-color: #9933FF;
  height: 80px;
}
#tr-nechet {
  background-color: #FFFF66;
  height: 50px;
}
#tr-chet {
  background-color: #FF99FF;
  height: 50px;
}
#lnk {
  text-decoration: underline;
  color: black; 
}
footer {
  background-color: #c6c9f0;
  text-align: left; 
  padding: 20px; 
  position: relative;
  bottom: 0;
  width: 100%;
  height: 150px;
}
footer p {
  color: #3b0e5e;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
}
  #htable {
    order: 1;
  }
  #hlist {
    order: 2;
  }
  .navi {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 30px;
  right: 10px;
  margin: 0 auto;
  width: 100%;
  background-color: #c6c9f0;
  align-self: center;
}
.navi ul {
  display: flex;
  flex-direction: column;
}
.headercontent {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10%;
  align-items: center;
}
@media (min-width: 768px) { 
  #main {
    max-width: 960px;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-right: 20%;
    margin-left: 20%;
  }
  #htable {
    order: 2;
  }
  #hlist {
    order: 1;
  }
  .navi {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
  }
  .navigator {
    height: auto;
  }
  .navigator nav {
    position: absolute;
    top:0;
  }
  .navi ul {
    display: flex;
    flex-direction: row;
    position: absolute;
    right:5%;
  }
  .container {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    width: 60%;
  }
  .container a {
    margin-inline: 3%;
  }
  .headercontent {
    width: 100%;
  }
  .namehead {
    align-self: center;
    text-align: center;
  }
} 
