body {
  margin: 0;
  font-family: sans-serif;
  background-color: #e6e6fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://avatars.mds.yandex.net/i?id=d7b0cfe1f19201268b631e09d5b33f54d5686e0c-8977890-images-thumbs&n=13");
  background-repeat: repeat;
  background-size: 10%;
}
header {
  width: 100%; 
  background-color: #c6c9f0;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}
.logo {  /* логотип-изображение */
    width: 140px;
    height: auto;
    background-color: transparent;
}
.container {  /* содержимое шапки  */
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  width: 90%;
  margin-bottom: 20px;
}
.container a {
  text-decoration: none;
  margin-inline: 40px;
}
.namehead { /* Заголовок "Задание 2" */
  align-self: center;
  text-align: center;
}

#main {
  margin-top: 20px;
  margin-bottom: 100px;
  /* margin-right: 20%;
  margin-left: 20%; */
}

#hlist, #htable, #hform {  /* стили для списка ссылок, таблицы и формы */
  border: 3px solid slateblue;
  border-radius: 10%;
  padding: 6%;
  background-color: #ae89d3;
  margin-bottom: 40px;
}

#htable , #hform {
  text-align: center;
}
#table {
  border: solid black;
}
#tr1 {  /* 1-ая строка таблицы */
  background-color: #9933FF;
  height: 80px;
}
#tr-nechet {  /* нечётные строки таблицы */
  background-color: #FFFF66;
  height: 50px;
}
#tr-chet {  /* чётные строки таблицы */
  background-color: #FF99FF;
  height: 50px;
}
#lnk {  /* ссылка на верх страницы */
  text-decoration: underline;
  color: black; 
}
footer {
  background-color: #c6c9f0;
  text-align: left; 
  padding: 20px; 
  position: relative;
  bottom: 0;
  width: 100%;
  height: 150px;
}
footer p {
  color: #3b0e5e;
}
/* Стили для мобильных устройств */
.navi {
  display: flex; 
  flex-direction: column; /* ссылки расположены в столбец */
  justify-content: center;
}
.order-1 {  /* вначале таблица */
  order: 1;
}
.order-2 {   /* затем список ссылок */
  order: 2;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Стили для больших экранов */
@media (min-width: 768px) { 
  .navi {
    flex-direction: row; /* ссылки расположены в строку */
  }
  .order-2 {   /* вначале список ссылок */
    order: 1;
  }
  .order-1 {   /* затем таблица */
    order: 2;
  }
  .content {
    width: 80%;
  }
}
