body {
    background-color: black;
}
.swiper-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.swiper-slide {
    width: 33%; 
    border-radius: 5%;
    overflow: hidden;
}
.swiper-slide img {
    width: 100%; 
    height: 450px;
    object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}
.pagination-text {
    text-align: center;
    color: white;
}
