@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Italic-VariableFont_wght.ttf') format('ttf'),
         url('Montserrat-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    position: relative;
    height: 100vh;
}

.header-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обеспечивает, что видео будет полностью покрывать область */
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирование контента */
    color: white;
    text-align: center;
    z-index: 1; /* Обеспечивает, что текст будет поверх видео */
}

.header-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1em;
    margin-bottom: 20px;
}

.header-button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    border: 2px solid rgba(221, 83, 83, 0.7);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.header-button:hover {
    background-color: rgba(255, 0, 0, 1); /* Меняем цвет фона при наведении */
}
.text-blocks {
    display: flex; 
    justify-content: center;
    margin-top: 150px; 
}

.column {
    margin: 0 20px; /* Отступ между столбцами */
}
@media (min-width: 768px) {
    .header-content {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .text-blocks {
        display: flex;
        flex-direction: column;
    }
    .column  {
        display: flex;
    }
}
.block {
    height: 100px;
    width: 160px;
    border-left: 4px solid rgb(248, 116, 40);
    color: white;
    text-align: left;
    padding: 15px;
    margin: 10px 0; /* Отступ между блоками */
    z-index: 1;
}
.block h3 {
    font-size: 3em;
}
.block h4 {
    font-size: 2em;
}
.block p {
    font-size: 0.7em;
}
.hp {
    display: flex;
    flex-direction: row;
}
.hp img {
    height: 50px;
    width: auto;
}
.competenc {
    color: black;
    padding-left: 5%;
}
.competenc h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}
.text-blocks-comp {
    display: flex; /* Используем Flexbox для размещения столбцов */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    margin-top: 20px;
    margin-bottom: 20px;
}
.comp-block {
    height: 150px;
    width: 160px;
    color: gray;
    font-size: small;
    text-align: left;
    padding: 15px;
    margin: 20px 0; /* Отступ между блоками */
    
}
@media (min-width: 768px) {
    .competenc {
        margin-left: 20%;
    }
    .text-blocks-comp {
        display: flex;
        flex-direction: column;
    }
    .comp-column {
        display: flex;
        flex-direction: row;
    }
    .competenc_text {
        width: 40%;
    }
}

.support {
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: transparent;
}
.support h2 {
    text-align: center;
    margin-bottom: 8%;
}
.support h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.support h5, .support p {
    color: gray;
}
.sup-block-1,
.sup-block-2,
.sup-block-3,
.sup-block-4,
.sup-block-5,
.sup-block-6,
.sup-block-7,
.sup-block-8 {
    height: 200px;
    padding: 5%;
    border-radius: 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    background-color: white;
    padding-right: 20%;
}
.sup-block-1 {
    background: url("img/support1.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}
.sup-block-2 {
    background: url("img/support2.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}
.sup-block-3 {
    background: url("img/support3.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}
.sup-block-4 {
    background: url("img/support4.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}
.sup-block-5 {
    background: url("img/support5.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}
.sup-block-6 {
    background: url("img/support6.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}
.sup-block-7 {
    background: url("img/support7.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}
.sup-block-8 {
    background: url("img/support8.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
    background-color: white;
    z-index: 3;
}
@media (min-width: 768px) {
    .support {
        z-index: 3;
    }
    .support-column {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .sup-block-1,
    .sup-block-2,
    .sup-block-3,
    .sup-block-4,
    .sup-block-5,
    .sup-block-6,
    .sup-block-7,
    .sup-block-8 {
        width: 180px;
        height: 200px;
        padding: 1%;
        background-color: white;
        border-radius: 2%;
        margin-inline: 3px;
        margin-bottom: 5px;
        background-size: 28%;
    }
    .support h2 {
        margin-bottom: 2%;
        margin-top: 8%;
    }
    .support h3 {
        font-size: 1em;
    }
    .support p {
        font-size: 0.8em;
    }
    .expert {
        bottom: 0;
    }
}

.expert {
    background-color: black;
    position: relative;
    bottom: 140px;
}
.expert h2 {
    color: white;
    text-align: left;
    padding-top: 40%;
    padding-left: 10%;
    padding-right: 30%;
}
.expert-block {
    height: 95px;
    color: whitesmoke;
    text-align: left;
    align-content: center;
    border-left: 4px solid orangered;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    padding-left: 20px;
    padding-right: 40%;
}
.p-orange {
    color: orangered;
}
.expert img {
    width: 80%;
    height: auto;
}
.expert-img {
    position: relative;
    top: 65px;
    z-index: 4;
}
@media (min-width: 768px) {
    .expert {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .expert h2 {
        padding-left: 0;
        padding-right: 40%;
    }
    .expert-row {
        display: flex;
        flex-direction: row;
    }
    .expert-block {
        padding-right: 5%;
        padding-left: 2%;
        margin-left: 0;
        margin-bottom: 0;
        width: 220px;
        font-size: 0.8em;
        height: unset;
    }
    .expert-img {
        top: 220px;
        width: auto;
    }
    .expert img {
        height: 300px;
        width: auto;
    }
    .right-expert-content {
        margin-bottom: 80px;
        margin-right: 50px;
    }
}

.tarif {
    background-color: rgb(255, 192, 203);
    padding-top: 20%;
    position: relative;
    bottom: 140px;
    z-index: 2;
}
.tarif-block {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    background-color: white;
    border: 2px solid rgb(182, 182, 182);
    border-radius: 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin: 10%;
}
.tarif h2 {
    text-align: center;
}
.tarif h3 {
    color: orangered;
    border-bottom: 2px solid rgb(182, 182, 182);
    padding: 5%;
    margin-top: 5%;
}
.tarif p {
    margin-top: 5%;
    margin-bottom: 5%;
}
.tarif-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid orangered;
    border-radius: 3%;
    height: 50px;
}
.tarif-button:hover {
    background-color: rgb(226, 60, 38); 
    color: white;
}
.tarif-button a {
    text-decoration: none;
    font-size: medium;
    color: orangered;
}
.tarif-text p {
    text-align: center;
    font-size: 1em;
    color: rgb(143, 143, 143);
    margin: 5% 15% 5% 15%;
}
.tarif-text a {
    display: flex;
    justify-content: center;
    color: black;
    padding-bottom: 15%;
    text-decoration-line: underline;
}
@media (min-width: 768px) {
    .tarifs {
        display: flex;
        flex-direction: row;
        padding-left: 5%;
        padding-right: 5%;
    }
    .tarif-block {
        padding-left: 2%;
        padding-right: 2%;
        margin: 1%;
        padding-bottom: 3%;
        width: 30%;
    }
    .tarif h2 {
        margin-bottom: 20px;
    }
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}
.time img {
    padding-right: 0%;
}
.time h3 {
    margin: 10%;
    margin-top: 10%;
}
.time-block {
    width: 150px;
    height: 150px;
    margin-bottom: 10%;
}
.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
}
.time img {
    padding-right: 0%;
}

.time h3 {
    margin: 10%;
    margin-top: 10%;
}
.time p {
    color: gray;
}
.time-block {
    width: 150px;
    height: 180px;
    margin-bottom: 10%;
}
@media (min-width: 768px) {
    .time h3 {
        margin-top: 0;
        margin-left: 20%;
        margin-bottom: 5%;
        margin-right: 40%;
    }
    .time-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .time-block {
        width: unset;
        height: unset;
        padding-right: 12%;
    }
}

.command {
    display: flex; /* Используем Flexbox для размещения столбцов */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    margin-top: 20px;
    margin-bottom: 20px;
}
.command-block {
    height: 250px;
    width: 160px;
    color: gray;
    font-size: small;
    text-align: left;
    padding: 5px;
    margin: 10px;
}
.command img {
    width: 100%;
}
.com-h1 {
    text-align: center;
}
.command h4 {
    color: black;
}
@media (min-width: 768px) {
    .command {
        flex-direction: column;
        align-items: center;
    }
    .command-column {
        display: flex;
        flex-direction: row;
    }
}

.cases {
    padding-left: 10%;
    padding-right: 10%;
}
.cases h1 {
    text-align: center;
    margin-bottom: 5%;
}
.cases h4 {
    margin-top: 5%;
}
.cases p {
    font-size: small;
    color: rgb(97, 97, 97);
    margin-bottom: 5%;
    margin-top: 2%;
}
.cases h5 {
    color: rgb(97, 97, 97);
}
.imag1 {
    width: 100%;
    height: 280px;
    font-size: 0.8em;
    background-image: url(img1-mob.png);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    margin-bottom: 30px;
}
.imag2 {
    width: 100%;
    height: 280px;
    background-image: url(img/img2-mob.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.imag3 {
    width: 100%;
    height: 280px;
    background-image: url(img/img3-mob.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.imag4 {
    width: 100%;
    height: 280px;
    background-image: url(img/img4-mob.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.imag5 {
    width: 100%;
    height: 280px;
    background-image: url("img/img5-mob.png");
    background-repeat: no-repeat;
    background-size: 100% 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@media (min-width: 768px) {
    .cases {
        padding-left: 5%;
        padding-right: 5%;
    }
    .caserow1, .caserow2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5%;
    }
    .caserow1 {
        padding-left: 5%;
    }
    .imag1 {
        width: 30%;
        background-image: url(img/img1.png);
    }
    .imag2 {
        width: 60%;
        background-image: url(img/img2.png);
        margin-left: 10%;
    }
    .imag3 {
        width: 30%;
        background-image: url("img/img3.png");
    }
    .imag4 {
        width: 30%;
        background-image: url("img/img4.png");
    }
    .imag5 {
        width: 30%;
        background-image: url("img/img5.png");
    }
}

.reviews {
    padding: 10%;
}
.reviews h1 {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 10%;
}
.reviews a {
    color: black;
}
.rev {
    padding-right: 10%;
}
.rev-text{
    color: gray;
}
.reviews img {
    width: 100px;
    height: auto;
}
.swiper-wrapper {
    padding: 0;
    padding-top: 2%;
    margin: 0;
}
.swiper-slide {
    margin-left: 2%;
    margin-right: 2%;
}
.swiper-button-prev,
.swiper-button-next {
    color: black;
    border: none;
    cursor: pointer;
}
.swiper-container {
    width: 100%; 
    height: 1300px;
    border: 1px solid gray;
    border-radius: 1%;
    overflow: hidden;
    position: relative; /* для правильного позиционирования кнопок */
}

.buttons {
    height: 200px;
    display: flex;
    justify-content: space-between; /* Размещаем кнопки по краям */
    padding: 10px 20px; /* Добавляем отступы */
    border-top: 1px solid gray;
    position: absolute; /* Позиционируем кнопки абсолютно внутри контейнера */
    bottom: 10px; /* Устанавливаем отступ от нижней части контейнера */
    left: 0; /* Прикрепляем к левому краю */
    right: 0; /* Прикрепляем к правому краю */
}
.pagination-text {
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin: 10%;
}
.current-page {
    color: black;
}
.total-pages {
    color: rgb(158, 158, 158);
}
@media (min-width: 768px) {
    .swiper-container {
        height: 600px;
    }
}
.faq {
    margin-left: 10%;
    margin-bottom: 5%;
}
.faq h1 {
    text-align: center;
}
.faq-item {
    border: 1px solid transparent; /* Изначально рамка прозрачная */
    padding: 10px;
}
.question {
    color: black; /* Изначальный цвет текста */
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
}

.answer {
    display: none; /* Скрываем ответ по умолчанию */
    padding: 10px;
    border-top: none;
}

.footer {
    background-color: black;
    padding: 20px;
    color: #e0d6d6;
}
.footer-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.form-wrapper {
    flex: 1;
    margin-right: 20px;
}
.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.form-description {
    margin-bottom: 20px;
}
.form-contacts ul {
    list-style: none;
    padding: 0;
}
.form-contacts li {
    margin-bottom: 5px;
}
.form-column {
    flex: 1;
}
.form-phone {
    font-size: 1.4em;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid #969595;
    border-radius: 5%;
}
.checkbox-wrapper {
    margin-bottom: 10px;
}
.checkbox-wrapper a {
    text-decoration: none;
    color: orangered;
}
.buttonb {
    background-color: orangered;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.buttonb:hover {
    background-color: #ff5024;
}
@media (min-width: 768px) {
    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .form-wrapper {
        padding-left: 15%;
        padding-top: 0;
    }
    .form-wrapper a {
        color: white;
    }
    .form-column {
        padding-right: 15%;
    }
    .form-contacts {
        margin-top: 50px;
    }
}


.navbar {
    width: 100%;
    background-color: black;
    position: absolute;
    margin-top: 370px;
    z-index: 15;
}
.logo {
    padding-top: 2%;
}
.logo img {
    width: 40%;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px; 
    height: 15px; 
    margin-right: 5px;
}
.bar {
    height: 3px; 
    background-color: #fff; 
    border-radius: 2px; 
}
.dropdown {
    display: none;
    background-color: black;
    color: #e0d6d6;
    text-align: left;
}
.show {
    display: block; /* Показать меню, когда добавлен класс .show */
}
.dropbtn, .dropbtn1 {
    background-color: black;
    color: white;
    border: none;
}

.nav_list, .dropdown_list1, .dropdown_list2 {
    list-style: none;
}
.dropdown_list1, .dropdown_list2 {
    display: none; 
}

.dropdown_list1.show, .dropdown_list2.show {
    display: block; 
}
.nav_item, .dropdown_item {
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid gray;
}
.header-logo {
    padding: 3%;
}
.dropdown a {
    text-decoration: none;
    color: azure;
}

@media (min-width: 768px) {
    .navbar {
        margin-top: 0;
        background-color: transparent;
        
    }
    .flex-cont {
        display: flex;
        justify-content: space-around; 
        align-items: center;
    }
    .hamburger {
        display: none;
    }
    .navbar img {
        height: 20px;
        width: auto;
    }
    .dropdown {
        display: block;
        background-color: transparent;
    }
    .nav_list {
        display: flex;
        flex-direction: row;
        font-size: 0.6em;
        align-items: baseline;
    }
    .nav_item, .dropdown_item {
        padding-bottom: 0;
        border: none;
        margin-right: 13px;
    }
    #podderjka {
        text-decoration: underline;
        text-decoration-color: orangered;
    }
    .dropbtn, .dropbtn1 {
        background-color: transparent;
        font-size: 1em;
        color: white;
        border: none;
        margin-right: 13px;
    }
    .flex-cont {
        display: flex;
        flex-direction: row;
    }
    .header-content {
        margin-top: 50px;
    }
    .text-blocks {
        margin-top: 0;
    }
}
