* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    position: relative;
    height: 100vh;
}

.header-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обеспечивает, что видео будет полностью покрывать область */
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирование контента */
    color: white;
    text-align: center;
    z-index: 1; /* Обеспечивает, что текст будет поверх видео */
}

.header-content h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1em;
    margin-bottom: 20px;
}

.header-button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: rgba(221, 83, 83, 0.7); /* Полупрозрачный красный фон */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.header-button:hover {
    background-color: rgba(255, 0, 0, 1); /* Меняем цвет фона при наведении */
}
.text-blocks {
    display: flex; /* Используем Flexbox для размещения столбцов */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    margin-top: 20px; /* Отступ сверху для текстовых блоков */
}

.column {
    margin: 0 20px; /* Отступ между столбцами */
}

.block {
    height: 100px;
    width: 160px;
    border-left: 4px solid rgb(248, 116, 40);
    color: white;
    text-align: left;
    padding: 15px;
    margin: 10px 0; /* Отступ между блоками */
    z-index: 1;
}
.block h3 {
    font-size: 3em;
}
.block h4 {
    font-size: 2em;
}
.block p {
    font-size: 0.7em;
}
.hp {
    display: flex;
    flex-direction: row;
}
.hp img {
    height: 50px;
    width: auto;
}
.competenc {
    color: black;
    padding-left: 5%;
}
.competenc h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}
.text-blocks-comp {
    display: flex; /* Используем Flexbox для размещения столбцов */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    margin-top: 20px;
    margin-bottom: 20px;
}
.comp-block {
    height: 150px;
    width: 160px;
    color: gray;
    font-size: small;
    text-align: left;
    padding: 15px;
    margin: 20px 0; /* Отступ между блоками */
}
.support {
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}
.support h2 {
    text-align: center;
}
.support h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.support h5, .support p {
    color: gray;
}
.sup-block-1,
.sup-block-2,
.sup-block-3,
.sup-block-4,
.sup-block-5,
.sup-block-6,
.sup-block-7,
.sup-block-8 {
    height: 200px;
    padding: 5%;
    border-radius: 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}
.sup-block-1 {
    background: url("file:///C:/Users/ekete/Downloads/project/project/project/img/support1.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}
.sup-block-2 {
    background: url("file:///C:/Users/ekete/Downloads/project/project/project/img/support2.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}
.sup-block-3 {
    background: url("file:///C:/Users/ekete/Downloads/project/project/project/img/support3.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}
.sup-block-4 {
    background: url("file:///C:/Users/ekete/Downloads/project/project/project/img/support4.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}
.sup-block-5 {
    background: url("file:///C:/Users/ekete/Downloads/project/project/project/img/support5.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}
.sup-block-6 {
    background: url("file:///C:/Users/ekete/Downloads/project/project/project/img/support6.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}
.sup-block-7 {
    background: url("file:///C:/Users/ekete/Downloads/project/project/project/img/support7.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}
.sup-block-8 {
    background: url("file:///C:/Users/ekete/Downloads/project/project/project/img/support8.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 20%;
}
