body {
    background-image: url("fon.jpg");
    background-repeat: repeat;
    background-size: 20%;
}
#error {
    color: black;
}
#quantity.error {
    border: 2px solid red;
}
#cost {
    font-weight: bold;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #d072ec;
}
.input-group,
.radioknopki,
.checkb,
.select-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.input-group label,
.select-group label {
    margin-right: 5px;
}

.input-group input,
.input-group select,
.select-group select {
    padding: 8px;
    border: 1px solid #9d1dbd;
    border-radius: 3px;
}
.radioknopki, 
.checkb {
    display: flex;
    flex-direction: row;
}
.rad,
.ckeckbox {
    padding: 5px;
    margin-inline: 10px;
}
#button {
    background-color: #8b2a94;
    color: rgb(234, 228, 235);
    padding: 10px 20px;
    border: none; 
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer; 
}
#button:hover {
    background-color: #7609a1;
}
#button:active {
    background-color: #27042e;
}
#button {
    transition: background-color 0.3s ease;
}
.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 300px;
}
.image-item {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 20%;
    text-align: center;
}
.image-item img {
    width: 100%;
    border: 1px solid #9d1dbd;
    border-radius: 5px;
}
.image-item p {
    background-color: #d072ec;
    padding: 5px 10px;
    border-radius: 5px;
}
